@use '../../styles/mixins';

.project {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.title {
  text-align: left;
  align-self: flex-start;
}

.board {
  display: flex;
  list-style: none;
  margin: 0;
  //border: 1px solid gray;
}

.spinner {
  margin: 0 auto;
}

.column {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid gray;
  border-right: none;

  &:last-of-type {
    border-right: 1px solid gray;
  }
}

.columnTitle {
  border-bottom: 1px solid gray;
  color: black;
  margin: 0;
}

.taskList {
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: 0;
  list-style: none;
  gap: 10px;
}

.task {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  @include mixins.card-background;
}

.taskTitle {
  margin: 0;
  text-align: left;
  font-size: 18px;
}