@use '../../styles/mixins';

.boards {
  display: flex;
  flex-direction: column;
}

.boardsList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 0 20px;
}

.boardCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  @include mixins.card-background;
}

.boardName {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
}

.spinner{
  margin: 0 auto;
}
